In [191]:
import pandas as pd

In [192]:
data = pd.read_csv('result_with_hp.csv')

In [193]:
data.head()

,Unnamed: 0,time,is_weekend,origin,destination,online,prediction,gx,lsl,zyb
0,692113,2019-04-16 20:53:17,0,齐家面道坊-上车点,天邑·宏御花园御苑,天邑·宏御花园御苑,天邑·宏御花园御苑,天邑·宏御花园御苑,NaN,天邑·宏御花园御苑
1,7053723,2019-04-16 16:37:39,0,抚琴西南街45号院-西南门,中华锦绣一期,中华锦绣一期,中华锦绣一期,NaN,舞东风(中华锦绣分店),中华锦绣一期
2,13296355,2019-04-12 11:10:59,0,双流区华阳镇街道锦江路南湖·鑫苑鑫家,港宏宏羽天府汽车园区,港宏宏羽天府汽车园区,海昌路-B口,四海逸家·蓝钻,NaN,海昌路-B口
3,16970962,2019-03-17 08:46:40,1,嘉立酒店精选(成都宽窄巷子店)-上车点,成都双流国际机场T2航站楼国内出发,成都双流国际机场T2航站楼国内出发,成都双流国际机场T2航站楼国内出发,成都双流国际机场T2航站楼国内出发,NaN,成都双流国际机场T2航站楼国内出发
4,19331493,2019-04-08 10:33:12,0,恒大天府半岛-东2门,天府国际金融中心4号楼,天府国际金融中心4号楼,天府国际金融中心4号楼,NaN,天府国际金融中心4号楼,天府国际金融中心4号楼

In [194]:
data['online_aTF'] = data['destination'] == data['online']
data['prediction_aTF'] = data['destination'] == data['prediction']
data['gx_aTF'] = data['destination'] == data['gx'].str.strip(' ')
data['lsl_aTF'] = data['destination'] == data['lsl'].str.strip(' ')
data['zyb_aTF'] = data['destination'] == data['zyb'].str.strip(' ')

In [195]:
data['gx_aTF'].sum(),data['lsl_aTF'].sum(),data['zyb_aTF'].sum(),data['prediction_aTF'].sum() , data['online_aTF'].sum()

(44, 42, 45, 56, 101)

In [206]:
import re
import numpy as np
def data_clean(s):
    if s is np.nan : 
        return None 
    s1 = re.sub(r'[-. ·（ ）小区( ) 楼 酒店 宾馆 地铁 部 广场 小区 ]', '' , s)
    s2 = s1.rstrip('东门 ').rstrip('北门').rstrip('南门').rstrip('西门').rstrip('东北门')\
.rstrip('西北门').rstrip('西南门')
    return s2

from fuzzywuzzy import fuzz
def string_compare(s1,s2):
    return True if fuzz.partial_ratio(s1,s2) > 80 else False

In [207]:
online_result = []
prediction_result = []
zyb_result = []
lsl_result = []
gx_result = []
label = data['destination'].apply(data_clean).values
online = data['online'].apply(data_clean).values
prediction = data['prediction'].apply(data_clean).values
gx = data['gx'].apply(data_clean).values
lsl = data['lsl'].apply(data_clean).values
zyb = data['zyb'].apply(data_clean).values

for i in range(len(label)):
    online_result.append(string_compare(label[i], online[i]))
    prediction_result.append(string_compare(label[i],prediction[i] ) ) 
    gx_result.append(string_compare(label[i],gx[i] ) ) 
    lsl_result.append(string_compare(label[i],lsl[i] ) ) 
    zyb_result.append(string_compare(label[i],zyb[i] ) )

In [208]:
sum(zyb_result),sum(lsl_result),sum(gx_result) , sum(online_result)/150 , sum(prediction_result)/150

(49, 45, 44, 0.6933333333333334, 0.37333333333333335)

In [199]:
data['online_TF'] = online_result
data['prediction_TF'] = prediction_result
data['gx_TF'] = gx_result
data['lsl_TF'] =  lsl_result
data['zyb_TF'] = zyb_result

In [200]:
data.head()

,Unnamed: 0,time,is_weekend,origin,destination,online,prediction,gx,lsl,zyb,online_aTF,prediction_aTF,gx_aTF,lsl_aTF,zyb_aTF,online_TF,prediction_TF,gx_TF,lsl_TF,zyb_TF
0,692113,2019-04-16 20:53:17,0,齐家面道坊-上车点,天邑·宏御花园御苑,天邑·宏御花园御苑,天邑·宏御花园御苑,天邑·宏御花园御苑,NaN,天邑·宏御花园御苑,True,True,True,False,True,True,True,True,False,True
1,7053723,2019-04-16 16:37:39,0,抚琴西南街45号院-西南门,中华锦绣一期,中华锦绣一期,中华锦绣一期,NaN,舞东风(中华锦绣分店),中华锦绣一期,True,True,False,False,True,True,True,False,False,True
2,13296355,2019-04-12 11:10:59,0,双流区华阳镇街道锦江路南湖·鑫苑鑫家,港宏宏羽天府汽车园区,港宏宏羽天府汽车园区,海昌路-B口,四海逸家·蓝钻,NaN,海昌路-B口,True,False,False,False,False,True,False,False,False,False
3,16970962,2019-03-17 08:46:40,1,嘉立酒店精选(成都宽窄巷子店)-上车点,成都双流国际机场T2航站楼国内出发,成都双流国际机场T2航站楼国内出发,成都双流国际机场T2航站楼国内出发,成都双流国际机场T2航站楼国内出发,NaN,成都双流国际机场T2航站楼国内出发,True,True,True,False,True,True,True,True,False,True
4,19331493,2019-04-08 10:33:12,0,恒大天府半岛-东2门,天府国际金融中心4号楼,天府国际金融中心4号楼,天府国际金融中心4号楼,NaN,天府国际金融中心4号楼,天府国际金融中心4号楼,True,True,False,True,True,True,True,False,True,True

In [201]:
# test = data[['online_TF', 'prediction_TF', 'gx_TF', 'lsl_TF', 'zyb_TF']]
# b2i = {True: 1, False: 0}
# test['sum'] = test['prediction_TF'].map(b2i)+test['gx_TF'].map(b2i)+test['lsl_TF'].map(b2i)+test['zyb_TF']

In [202]:
test.groupby(['online_TF','sum']).count()

               prediction_TF  gx_TF  lsl_TF  zyb_TF
online_TF sum
False     0               32     32      32      32
          1                3      3       3       3
          2                5      5       5       5
          3                9      9       9       9
True      0               42     42      42      42
          1                6      6       6       6
          2               12     12      12      12
          3               41     41      41      41